<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title-centered">Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="12">Configuración</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="center-button">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-button (click)="cerrarSesion()" color="primary">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      Cerrar Sesión
    </ion-button>
  </div>
</ion-content>
