.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
.title-centered {
    text-align: center;
    font-size: 18px; /* Ajusta el tamaño según tus necesidades */
  }
  