.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
  }
  
  ion-card {
    width: 100%;
    max-width: 400px;
  }
  
  .login-button {
    margin-top: 20px;
  }
  
  .additional-options {
    margin-top: 20px;
    text-align: center;
  }
  
  .additional-options p {
    margin: 0;
    font-size: 0.9rem;
  }
  
  .additional-options a {
    color: var(--ion-color-primary);
    text-decoration: none;
  }
  